opencv-python-headless
pandas==2.0.3
pillow==10.4.0
requests==2.32.3
rich==13.8.1
scipy==1.10.1
seaborn==0.13.2
streamlit==1.38.0
torch==1.12.1
torchvision==0.13.1
tornado==6.4.1
tqdm==4.66.4
typing_extensions==4.12.2
tzdata==2024.1
ultralytics==8.2.59
ultralytics-thop==2.0.0
tensorboard